<a href="https://colab.research.google.com/github/Shafiqul-shawon/ComparatorSorting/blob/master/Second_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.1. Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
# Creating variables
name = "Shawon"
age = 29
Favourite_Colort = "Blue"
# Printing variables
print("Name:", name)
print("Age:", age)
print("Favourite Color:", Favourite_Colort)

2.2.Create one variable of each type and use the type() function to verify its type.

In [ ]:
name = "Tasnim"
age = 25
grade=3.29
is_valid = True
has_paid = False
result = None
print(type(name))
print(type(grade))
print(type(age))
print(type(result))
print(type(is_valid))

2.3 Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
length = 7
width = 5
area = length * width
perimeter = 2 * (length + width)
print("Area of the rectangle:", area)
print("Perimeter of the rectangle:", perimeter)

2.4. Create a list of 5 Bangladeshi foods, then access the first and
last elements.

In [ ]:

Food = ["Rice", "Bread", "Fish", "Meat" , "Vegetable"]
# Accessing elements (indexing starts at 0)
print(Food[0]) # apple
print(Food[4])
Food.append("Egg")
print(Food)
Food.insert(2, "Chicken")
print(Food)
Food.remove("Meat")
print(Food)

2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
number_list = [5,8,9,12,1,82,64]
number_list.append(100)
number_list.remove(5)
number_list.sort()
print(number_list)

2.6 Create a dictionary about yourself with at least 4 key-value pairs.

In [ ]:
# Creating a dictionary
student = {
"name": "Shawon",
"age": 29,
"university": "BUET",
"courses": ["Python", "Data Science", "Web Development"]}
# Accessing values using keys
print(student)

2.7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
location = (23.7188, 90.3889)

print("Lalbagh Fort Location (Latitude, Longitude):", location)

2.8. Create two sets of colors and find their union and intersection.

In [ ]:
# Creating a set
Color_set_one = {"White", "Black", "Orange", "Blue"}
Color_set_two = {"Red", "Green", "Blue", "Violet"}

# Union (all elements from both sets)
Color_union = Color_set_one | Color_set_two
# Intersection (common elements)
Color_intersection = Color_set_one & Color_set_two

print(Color_union)
print(Color_intersection)

2.9 Write a program that checks if a number is positive, negative, or zero.

In [ ]:
a = 100
if a > 0:
  print("positive")
elif a < 0:
    print("negaitive")
else:
    print("Zero")

2.10. Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [ ]:
Student = 18
age= 59
if student:
  if age < 25:
    print ("Get a discount")
  elif age > 60:
    print ("Get a discount")
  else:
    print ("No discount")
else:
  print ("No discount")

2.11. Write a program that prints the first 10 even numbers
using a for or while loop.

In [ ]:
i=1
count=10
while count > 0:
  if i%2==0:
    print(i)
    count-=1
  i+=1

2.12. Write a program that prints a simple number pyramid
pattern using nested loops.

In [1]:
rows = 5

for i in range(1, rows + 1):   # Outer loop for rows
    # Print spaces before numbers
    for space in range(rows - i):
        print(" ", end=" ")

    # Print numbers
    for num in range(1, i + 1):
        print(num, end=" ")

    print()  # Move to next line

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

2.13 Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [2]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

c = 37  # Body temperature in Celsius
f = celsius_to_fahrenheit(c)
print(f"{c}°C = {f}°F")

37°C = 98.6°F

2.14 Create a function with default parameters that calculates the area of a rectangle.

In [3]:
def rectangle_area(length=5, width=3):
    return length * width

# Example usage
print("Default area:", rectangle_area())         # Uses default 5 × 3
print("Custom area (7 × 4):", rectangle_area(7, 4))
print("Custom area (10 × default width):", rectangle_area(10))

Default area: 15
Custom area (7 × 4): 28
Custom area (10 × default width): 30